[Desktop Entry]
Encoding=UTF-8
Name=Add/Remove...
Name[ar]=زيادة\حذف...
Name[ast]=Añedir/Quitar...
Name[bg]=Добавяне/Премахване...
Name[bn]=যোগ/অপসারণ...
Name[ca]=Afegeix/Elimina...
Name[cs]=Přidat/Odstranit...
Name[da]=Tilføj/fjern...
Name[de]=Hinzufügen/Entfernen …
Name[el]=Προσθαφαίρεση...
Name[en_AU]=Add/Remove...
Name[en_CA]=Add/Remove...
Name[en_GB]=Add/Remove...
Name[eo]=Aldonu/Forigu...
Name[es]=Añadir y quitar...
Name[eu]=Gehitu/Kendu...
Name[fi]=Lisää/poista...
Name[fr]=Ajouter/supprimer...
Name[gl]=Engadir/Eliminar...
Name[he]=התקנה/הסרה...
Name[hr]=Dodaj/Ukloni programe
Name[hu]=Hozzáadás/eltávolítás...
Name[id]=Tambah/Hapus...
Name[is]=Bæta við/Fjarlægja...
Name[it]=Aggiungi/Rimuovi...
Name[ja]=追加と削除...
Name[ka]=დაყენება/წაშლა...
Name[ko]=추가/제거...
Name[ku]=Zêde bike/Rake...
Name[lt]=Įdiegti ar pašalinti...
Name[lv]=Pievienot/noņemt...
Name[mk]=Додај/отстрани...
Name[nb]=Legg til/fjern...
Name[nl]=Installeren/verwijderen...
Name[oc]=Apondre/suprimir...
Name[pl]=Dodaj/Usuń...
Name[pt]=Adicionar/Remover Programas...
Name[pt_BR]=Adicionar/Remover...
Name[ro]=Instalare/Dezinstalare...
Name[ru]=Установка/удаление...
Name[sk]=Pridať/odstrániť...
Name[sr]=Dodaj/Ukloni
Name[sv]=Lägg till/Ta bort...
Name[th]=เพิ่ม/ลบโปรแกรม...
Name[tl]=Magluklok/Magtanggal...
Name[tr]=Ekle/Kaldır...
Name[zh_CN]=添加/删除...
Name[zh_HK]=添加/删除...
Name[zh_TW]=添加/删除...
GenericName=Package Manager
GenericName[ar]=مدير الحزم
GenericName[ast]=Alministrador de Paquetes
GenericName[bg]=Диспечер на пакетите
GenericName[bn]=প্যাকেজ ম্যানেজার
GenericName[ca]=Gestor de paquets
GenericName[cs]=Správce balíků
GenericName[da]=Pakkehåndteringsprogram
GenericName[de]=Paketverwaltung
GenericName[el]=Διαχείριση πακέτων
GenericName[en_AU]=Package Manager
GenericName[en_CA]=Package Manager
GenericName[en_GB]=Package Manager
GenericName[eo]=Pakaĵa Administrilo
GenericName[es]=Gestor de paquetes
GenericName[eu]=Pakete-Kudeatzailea
GenericName[fi]=Pakettienhallinta
GenericName[fr]=Gestionnaire de paquets
GenericName[gl]=Xestor de paquetes
GenericName[he]=מנהל חבילות
GenericName[hr]=Rukovatelj paketima
GenericName[hu]=Csomagkezelő
GenericName[id]=Manajer Paket
GenericName[is]=Pakkastjórnandi
GenericName[it]=Gestore pacchetti
GenericName[ja]=パッケージ・マネージャ
GenericName[ka]=პროგრამების მმართველი
GenericName[ko]=꾸러미 관리자
GenericName[ku]=Gerînendeyê Paketan
GenericName[lt]=Paketų menedžeris
GenericName[lv]=Pakotņu pārvaldnieks
GenericName[mk]=Менаџер за пакети
GenericName[nb]=Pakkehåndterer
GenericName[nl]=Pakkettenbeheer
GenericName[no]=Pakkehåndterer
GenericName[oc]=Gestinari de paquetatges
GenericName[pa]=ਪੈਕੇਜ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer pakietów
GenericName[pt]=Gestor de Pacotes
GenericName[pt_BR]=Gerenciador de Pacotes
GenericName[ro]=Administrator de pachete
GenericName[ru]=Менеджер пакетов
GenericName[sk]=Správca balíkov
GenericName[sq]=Manazhuesi i paketave
GenericName[sr]=Menadžer Paketa
GenericName[sv]=Pakethanterare
GenericName[th]=ตัวจัดการแพกเกจ
GenericName[tl]=Tagapangasiwa ng mga Pakete
GenericName[tr]=Paket Yöneticisi
GenericName[uk]=Менеджер пакетів
GenericName[ur]=پاکج منتظم
GenericName[vi]=Bộ quản lý gói
GenericName[zh_CN]=软件包管理器
GenericName[zh_HK]=套件管理程式
GenericName[zh_TW]=套件管理程式
Comment=Install and remove applications
Comment[ast]=Instalar y quitar aplicaciones
Comment[bg]=Инсталиране и премахване на приложения
Comment[bn]=অ্যাপ্লিকেশন ইনস্টল এবং অপসারণ করতে
Comment[ca]=Instal·la i elimina aplicacions
Comment[cs]=Nainstalovat a odstranit aplikace
Comment[da]=Tilføj/fjern programmer
Comment[de]=Anwendungen installieren und entfernen
Comment[el]=Εγκατάσταση και απομάκρυνση εφαρμογών
Comment[en_AU]=Install and remove applications
Comment[en_CA]=Install and remove applications
Comment[en_GB]=Install and remove applications
Comment[eo]=Instalu kaj forigu aplikaĵojn
Comment[es]=Instalar y desinstalar aplicaciones
Comment[eu]=Aplikazioak instalatu eta kendu
Comment[fi]=Lisää tai poista sovelluksia
Comment[fr]=Installer et supprimer des applications
Comment[gl]=Instala e desinstala aplicacións
Comment[he]=התקנה והסרה של יישומים
Comment[hr]=Instalira i uklanja programe
Comment[hu]=Alkalmazások telepítése és eltávolítása
Comment[id]=Install dan menghilangkan aplikasi
Comment[is]=Setja upp eða fjarlægja forrit
Comment[it]=Installa e rimuove applicazioni
Comment[ja]=アプリケーションを追加および削除します
Comment[ka]=პროგრამების·ჩაყენება და წაშლა
Comment[ko]=프로그램 설치/제거
Comment[ku]=Sepanan saz bike û rake
Comment[lt]=Įdiegti ar pašalinti programas
Comment[lv]=Uzstādīt un noņemt programmas
Comment[mk]=Инсталирај и отстранувај апликации
Comment[nb]=Installèr og fjern programmer
Comment[nl]=Software installeren en verwijderen
Comment[oc]=Installar e suprimir d'aplicacions
Comment[pl]=Instalacja i usuwanie programów
Comment[pt]=Instalar e remover aplicações
Comment[pt_BR]=Instalar e remover aplicativos
Comment[ro]=Instalare şi dezinstalare de aplicaţii
Comment[ru]=Установка и удаление приложений
Comment[sk]=Inštaluje a odstraňuje aplikácie
Comment[sr]=Instaliraj i ukloni aplikacije
Comment[sv]=Installera och ta bort program
Comment[th]=ติดตั้งและลบโปรแกรม
Comment[tl]=Magluklok at magtanggal ng mga aplikasyon
Comment[tr]=Uygulama ekle ve kaldır
Comment[ur]=پروگرام شامل کريں يا نکاليں
Comment[zh_CN]=安装和删除应用程序
Comment[zh_HK]=安裝和刪除應用程式
Comment[zh_TW]=安裝和刪除應用程式
Exec=/usr/bin/gnome-app-install
Icon=gnome-app-install
Terminal=false
Type=Application
Categories=PackageManager;System;
StartupNotify=true
NotShowIn=GNOME;
X-Ubuntu-Gettext-Domain=gnome-app-install
