[Desktop Entry]
X-AppInstall-Package=trisquel-edu-network
X-AppInstall-Section=main

Name=Network productivity applications
Name[gl]=Programas de productividade para a rede
Name[es]=Programas de productividad para la red
Comment=Share files, talk and chat with your friends
Comment[gl]=Comparte arquivos, fala e chatea cos teus amigos
Comment[es]=Comparte archivos, habla y chatea con tus amigos
Icon=package-network
Type=Directory
Encoding=UTF-8
