[Desktop Entry]
X-AppInstall-Package=trisquel-edu-kids
X-AppInstall-Section=main

Name=Educational programs for kids
Name[es]=Paquetes educativos para niños
Name[gl]=Paquetes educativos para nenos
Comment=Games, activity packages, drawning apps...
Comment[gl]=Xogos, paquetes de actividades, programas de debuxo...
Comment[es]=Juegos, paquetes de actividades, programas de dibujo...
Icon=applications-games
Type=Directory
Encoding=UTF-8
