[Desktop Entry]
X-AppInstall-Package=trisquel-edu-science
X-AppInstall-Section=main

Name=Science and engineering packages
Name[es]=Paquetes de ciencia e ingeniería
Name[gl]=Paquetes de ciencia e enxeñería
Comment=Math, graphics, astronomy, and much more.
Comment[es]=Matemáticas, gráficos, astronomía, y mucho más.
Comment[gl]=Matemáticas, gráficos, astronomía, e moito máis.
Icon=applications-science
Type=Directory
Encoding=UTF-8
