[Desktop Entry]
X-AppInstall-Package=trisquel-edu-audio
X-AppInstall-Section=main

Name=Sound editing and management packages
Name[es]=Paquetes de edición, reprodución y gestión de audio
Name[gl]=Paquetes de edición, reprodución e xestión de audio
Comment=Your oun personal audio recording studio.
Comment[es]=Tu estudio de grabación personal.
Comment[gl]=O teu estudio de grabación personal.
Icon=audacious
Type=Directory
Encoding=UTF-8
