[Desktop Entry]
X-AppInstall-Package=trisquel-edu-text
X-AppInstall-Section=main

Name=Text editing and publishing tools
Name[es]=Herramientas de edición y publicación de texto
Name[gl]=Ferramentas de edición e publicación de texto
Comment=Edit web pages, publish books, flyers and more
Comment[gl]=Edita páxinas web, publica libros, trípticos e máis
Comment[es]=Edita páginas web, publica libros, trípticos y más
Icon=text-editor
Type=Directory
Encoding=UTF-8
