[Desktop Entry]
X-AppInstall-Package=trisquel-edu-graphics
X-AppInstall-Section=main

Name=Image editors
Name[es]=Editores de imagen
Name[gl]=Editores de imaxe
Comment=Design, edit photos and publish your work
Comment[gl]=Deseña, edita fotografías e publica os teus traballos
Comment[es]=Diseña, edita fotografías y publica tus trabajos
Icon=applications-graphics
Type=Directory
Encoding=UTF-8
