[Desktop Entry]
X-AppInstall-Package=trisquel-ltsp-server
X-AppInstall-Section=main

Name=Trisquel LTSP server
Name[es]=Servidor LTSP Trisquel
Name[gl]=Servidor LTSP Trisquel
Comment=A thin client server, suitable for booting diskless workstations via pxe
Comment[gl]=Servidor de clientes lixeiros, para arrinque de estacións de traballo sen disco a traveso da rede
Comment[es]=Servidor de clientes ligeros, para arranque de estaciones de trabajo sin disco a traves de la red
Icon=gnome-run
Type=Directory
Encoding=UTF-8
