[Desktop Entry]
X-AppInstall-Package=trisquel-edu-devel
X-AppInstall-Section=main

Name=Software development
Name[es]=Desarrollo de software
Name[gl]=Desenvolvemento de software
Comment=Development, translation and project management
Comment[gl]=Desenvolvemento, tradución e administración de proxectos
Comment[es]=Desarollo, traducción y administración de proyectos
Icon=applications-development
Type=Directory
Encoding=UTF-8
